html, body, div {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
  }

  p {
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 19.99px;
    margin-right: 40px;
    margin-left: 40px;
  }

  #SolvedText{
    text-align:center;
    font-weight:bold;
    color:red;
  }

  td{
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    padding:0;
    margin:0;
  }

  input[type="text"]{ 
    width: 50%;
    margin:0;
    padding:0;
    border:0;
    text-align: center;
    font-size: 30px;
    color: red;
    width:50px;
    height:50px;
    outline:none;
  }

  #SudokuGrid{
    height: 500px;
    min-height:20%;
    position:static;
    border: 4px solid black;
    border-collapse: collapse;
    margin-top:10%;
  }

  #regcell{
    border-right: 2px solid black;
  }

  #bordercell{
    border-right: 4px solid black;
  }

  #regcolumn{
    border-bottom: 2px solid black;
  }

  #bordercolumn{
    border-bottom: 4px solid black;
  }

 .wrapper{text-align:center;}
  .header{position: fixed; width: 100%; margin-bottom:100%;top: 0; height: 60px; background: black; color: white;}
  .push{margin-bottom: 50%}
  .clear{clear:both;}
  .buttons{text-align:center; margin-top: 0%;}

  .ButtonClass {
  border : solid 0px #000000;
  margin-left: 1%;
  margin-right: 1%;
  font-family: Raleway;
  font-size : 20px;
  color : #ffffff;
  padding : 1px 17px;
  background-color : #000000;

}
.ButtonClass:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #000000));
  background:-moz-linear-gradient(top, #000000 5%, #000000 100%);
  background:-webkit-linear-gradient(top, #000000 5%, #000000 100%);
  background:-o-linear-gradient(top, #000000 5%, #000000 100%);
  background:-ms-linear-gradient(top, #000000 5%, #000000 100%);
  background:linear-gradient(to bottom, #000000 5%, #000000 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000',GradientType=0);
  background-color:#000000;
}
.ButtonClass:active {
  position:relative;
  top:1px;
}
